p{
	font-family: "Rubik", sans-serif;
	font-size: 15px;
}
h1, h2, h3, h4{
	font-family: "Roboto Mono", monospace;
}
h1, h2{
	text-align: center;
	margin-bottom: 0.5px;
}
li {
	margin-top: 10px;
}
hr{
	opacity: 0.5px;
	color: grey;
}
.mail:link{
	color: green;
	
	text-shadow: 2px 2px 0 0;
}
a:active{
	color: yellow;

}
a:hover{
	color: black;
	font-size: 1.5em;
	text-decoration: none;
}
.mail:visited{
	background-color: blue;
}
.ex1{
	border-radius: 25%;
	font-size: 20px;
	font-family: "Fuzzy Bubbles", cursive;
	color: yellow;
	background-color: blue;
	border: dashed 2px yellow;
	cursor: pointer;
	display: inline-block;
	-webkit-user-select: none;
	touch-action: manipulation;
}
.ex1:hover{
	background-color: yellow;
	color: blue;
}
.ex1:active{
	transform: translate(2px,2px);
	box-shadow: 2px solid 2px 2px 0 0;
}
.button-74 {
	background-color: #ffffff;
	border: 2px solid #422800;
	border-radius: 30px;
	box-shadow: #422800 4px 4px 0 0;
	color: #422800;
	cursor: pointer;
	display: inline-block;
	font-weight: 600;
	font-size: 15px;
	padding: 0 10px;
	line-height: 50px;
	text-align: center;
	text-decoration: unset;
	-webkit-user-select: none;
	touch-action: manipulation;
}
.button-74:hover{
	background-color: #fff;
}
.button-74:active{
	box-shadow: #422800 2px 2px 0 0;
	transform: translate(2px, 2px);
}
@media (min-width: 768px) {
	.button-74 {
		min-width: 120px;
		padding: 0 25px;
	}
}
/* CSS */
.button-56 {
  align-items: center;
  background-color: #32a87b;
  border: 2px solid #111;
  border-radius: 8px;
  box-sizing: border-box;
  color: #111;
  cursor: pointer;
  display: flex;
  font-family: Inter,sans-serif;
  font-size: 16px;
  height: 48px;
  justify-content: center;
  line-height: 24px;
  max-width: 100%;
  padding: 0 25px;
  position: relative;
  text-align: center;
  text-decoration: none;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.button-56:after {
  background-color: #111;
  border-radius: 8px;
  content: "";
  display: block;
  height: 48px;
  left: 0;
  width: 100%;
  position: absolute;
  top: -2px;
  transform: translate(8px, 8px);
  transition: transform .2s ease-out;
  z-index: -1;
}

.button-56:hover:after {
  transform: translate(0, 0);
}

.button-56:active {
  background-color: #32a87b;
  outline: 0;
}

.button-56:hover {
  outline: 1;
}

@media (min-width: 768px) {
  .button-56 {
    padding: 0 20px;
  }
} 