header{
	height: 200px;
	background-color: ghostwhite;
	text-align: center;
}
#menu {
	width: 20%;
	background-color: grey;
	height: 1000px;
	float: left;
}
#My_works {
  background-image:url('pages/images/background_my_works.jpg');
  background-size:200% 400%;
  background-repeat:no-repeat;
  background-position:center;
  color:#e2ed0e;
}
#content {
	width:  80%;
	background-image:url("pages/images/background_about_me.jpg");
  background-repeat:no-repeat;
  background-size: 1400px 1000px;
	height: 1000px;
	float: left;
}
footer{
  height:200px;
	clear: both;
  text-align: center;
  background-image:url('pages/images/background_list.png');
  background-repeat:no-repeat;
  background-size:600px, 600px;
  background-position: 650px -40px;

}
p{
    font-size:20px;
    font-family:'Caveat', cursive;
    text-decoration-style:underline;
    letter-spacing: 2px;
    margin-top: 150px;
    text-align:center;
    color:#19bf2a;
}
#marker li {
  list-style-type:"👉";
  padding-inline:1ch;
  list-style-position:outside;
}
#gradient-text {
  background-image:linear-gradient(
    45deg, 
    #fc5e03 50%,
    #0341fc 50%); 
  -webkit-background-clip:text; 
  -webkit-text-fill-color:transparent;
  -moz-background-clip:text;
  -moz-text-fill-color:transparent;
  background-size:100%;
}
#marker {
  display: inline-block; 
  text-align:left;
  font-size:18px;
}
h1, h2 {
	text-align: center;
}
a{
	margin-top: 30px;
  text-decoration:none;
  margin-right: auto;
  margin-left: auto;
}

/* CSS */
.button-86 {
  all: unset;
  width: 100px;
  height: 30px;
  font-size: 16px;
  background: transparent;
  border: none;
  position: relative;
  color: #f0f0f0;
  cursor: pointer;
  z-index: 1;
  padding: 10px 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  white-space: nowrap;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  margin-right: auto;
  margin-left: auto;
  margin-top: 15px;
}

.button-86::after,
.button-86::before {
  content: '';
  position: absolute;
  bottom: 0;
  right: 0;
  z-index: -99999;
  transition: all .4s;
}

.button-86::before {
  transform: translate(0%, 0%);
  width: 100%;
  height: 100%;
  background: #28282d;
  border-radius: 10px;
}

.button-86::after {
  transform: translate(10px, 10px);
  width: 35px;
  height: 35px;
  background: #ffffff15;
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  border-radius: 50px;
}

.button-86:hover::before {
  transform: translate(5%, 20%);
  width: 110%;
  height: 110%;
}

.button-86:hover::after {
  border-radius: 5px;
  transform: translate(0, 0);
  width: 100%;
  height: 100%;
}

.button-86:active::after {
  transition: 0s;
  transform: translate(5%, 5%);
}